
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Signup {
    display: flex;
    justify-content: center;
    align-items: center;
    
    min-height: 100vh;
background-image: url("../../Images/1005.jpg");
background-size: cover;

}

.card {
    height: auto;
    width: 325px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Source Sans Pro', sans-serif
}
.image {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   gap: 10px;
}
.image img {
    width: 60px
}

.image p {
    margin-top: 3px;
    color: #969696
}





